@import './modules/variables.css';
@import './modules/layout.css';
@import './modules/animation.css';
@import './modules/utils.css';
@import './modules/list.css';



.body{

background-image: linear-gradient(var(--primary-text-color), var(--secondary-theme-color));
color:var(--primary-text-color);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;

}


